/* Estilos personalizados para o cabeçalho */
.header {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos personalizados para o nome da clínica */
.clinic-name {
  font-size: 24px;
  margin-left: 20px;
}

/* Estilos personalizados para a navegação */
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation-item {
  margin: 0 10px;
}

.navigation-link {
  text-decoration: none;
  color: #151313;
  font-weight: bold;
  transition: color 0.3s;
}

.navigation-link:hover {
  color: #ccc;
}

/* Estilos para o conteúdo abaixo do cabeçalho */
.content {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: row; /* Faz os elementos ficarem em linha horizontal */
  justify-content: center; /* Centraliza os elementos horizontalmente */
  align-items: center; /* Centraliza os elementos verticalmente */
}

.content p,
.content h2,
.content p:last-child {
  margin: 0 20px; /* Adicione margem entre os elementos */
}
